
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #070221;
  font-family: "Open Sans";
  color: white;
  margin: 3%;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}
